<?xml version="1.0" encoding="UTF-8"?>
<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 57.1 (101010) - https://sketch.com -->
    <title>Phone</title>
    <g id="Layouts" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home-(Mobile-Menu)" transform="translate(-16.000000, -562.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <g id="Menu" transform="translate(-1.000000, 0.000000)">
                <g id="Contact" transform="translate(1.000000, 506.000000)">
                    <g id="Phone" transform="translate(16.000000, 56.000000)">
                        <path d="M23.9200781,18.4600147 C23.1898916,16.5919767 18.2172703,14.3530044 16.5062608,15.3989718 C15.578907,15.9637278 16.1837753,19.2670474 12.7985166,17.6546532 C11.4718161,17.0213915 10.1735205,16.0372463 9.06236698,14.9378108 C7.9612387,13.8266787 6.97707418,12.528409 6.34547086,11.2000633 C4.73304505,7.8165417 8.03642987,8.41972744 8.60119645,7.49406295 C9.64551365,5.78141628 7.40649735,0.810563307 5.54009357,0.0803906499 C4.38048342,-0.37241613 1.78723469,1.19152279 1.02697201,2.175668 C-0.630568415,4.31940062 -0.262968724,9.26686113 1.99442767,12.9728619 C3.02704841,14.6738123 4.53754896,16.4365855 6.02298579,17.9771319 C7.56356289,19.4642108 9.32637018,20.9713398 11.0273544,22.0056115 C14.7317567,24.2629636 19.6793146,24.630556 21.8247597,22.9730481 C22.8089246,22.2111292 24.3712234,19.6179313 23.9200781,18.4600147 Z" id="Icon---Phone"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>