<?xml version="1.0" encoding="UTF-8"?>
<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 55 (78076) - https://sketchapp.com -->
    <title>Facebook</title>
    <g id="Layouts" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.796246722">
        <g id="Blog" transform="translate(-980.000000, -1826.000000)" fill="#FFFFFF">
            <g id="Footer/Desktop" transform="translate(0.000000, 1596.000000)">
                <g id="Footer" transform="translate(0.000000, 129.000000)">
                    <g id="Social" transform="translate(980.000000, 40.000000)">
                        <g id="Group" transform="translate(0.000000, 61.000000)">
                            <path d="M12.82,24 L1.324,24 C0.592613261,23.999448 -2.08298198e-07,23.4063869 0,22.675 L0,1.325 C0,0.593 0.593,0 1.325,0 L22.675,0 C23.407,0 24,0.593 24,1.325 L24,22.675 C24,23.407 23.407,24 22.675,24 L16.56,24 L16.56,14.706 L19.68,14.706 L20.146,11.084 L16.56,11.084 L16.56,8.77 C16.56,7.722 16.85,7.007 18.355,7.007 L20.273,7.007 L20.273,3.767 C19.941,3.722 18.803,3.624 17.478,3.624 C14.712,3.624 12.819,5.312 12.819,8.412 L12.819,11.082 L9.692,11.082 L9.692,14.705 L12.819,14.705 L12.819,24 L12.82,24 Z" id="Path"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>