<svg width="23px" height="16px" viewBox="0 0 23 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 54.1 (76490) - https://sketchapp.com -->
    <title>B6420957-BE48-43E9-87AB-649CE83D9EA9</title>
    <desc>Created with sketchtool.</desc>
    <g id="Layouts" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home-(Mobile)" transform="translate(-19.000000, -22.000000)" fill="currentColor" fill-rule="nonzero">
            <g id="Header">
                <g id="Menu" transform="translate(12.000000, 22.000000)">
                    <path d="M7,12.7659574 L29.6382979,12.7659574 L29.6382979,16 L7,16 L7,12.7659574 Z M7,6.38297872 L29.6382979,6.38297872 L29.6382979,9.61702128 L7,9.61702128 L7,6.38297872 Z M7,0 L29.6382979,0 L29.6382979,3.23404255 L7,3.23404255 L7,0 Z" id="Icon---Menu"></path>
                </g>
            </g>
        </g>
    </g>
</svg>