<?xml version="1.0" encoding="UTF-8"?>
<svg width="36px" height="26px" viewBox="0 0 36 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 57.1 (101010) - https://sketch.com -->
    <title>74E77DF9-EBC6-41D7-897B-C214D7F9513C</title>
    <desc>Created with sketchtool.</desc>
    <g id="Layouts" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home-(Mobile-Menu)" transform="translate(-187.000000, -562.000000)" fill="#FFFFFF">
            <g id="Menu" transform="translate(-1.000000, 0.000000)">
                <g id="Contact" transform="translate(1.000000, 506.000000)">
                    <g id="Chat" transform="translate(187.000000, 56.000000)">
                        <g id="Icon---Chat">
                            <path d="M31.8959258,5.15306816 C33.9531318,6.57970176 35.3492748,8.73835523 35.8263628,11.2314834 C36.3036149,13.7227664 35.7892724,16.271249 34.3793436,18.406922 C32.9694148,20.542595 30.8503366,21.9828156 28.4117227,22.4632246 C27.3945258,22.6633391 26.3651842,22.6913518 25.3493002,22.5469272 L23.7440722,24.9870493 C23.5330178,25.3087757 23.1898493,25.5 22.8258378,25.5 L22.8181243,25.5 C22.7892398,25.5 22.7600269,25.4988258 22.7309782,25.4963097 C22.184797,25.4530326 21.7538259,25.0083524 21.7067243,24.4387054 L21.4223096,21.0112622 C19.9111206,19.9749609 18.739982,18.5302113 18.0296838,16.823451 C17.9758534,16.694123 17.9963681,16.5451694 18.0820371,16.4359703 C18.9329836,15.3501855 19.5065723,14.104544 19.7870482,12.733097 C20.1469567,10.9716533 19.9703669,9.16273889 19.2768086,7.50160397 C19.2229782,7.37294694 19.2426723,7.22432879 19.327849,7.11496194 C20.7300643,5.31275719 22.7155512,4.08774777 24.9188214,3.66588022 C27.36121,3.19838724 29.8390479,3.72677005 31.8959258,5.15306816 Z" id="Fill-22"></path>
                            <path d="M11.4097529,0.700778994 C14.454936,1.33815997 17.0075527,3.47073897 18.2368865,6.40581388 C19.0019718,8.23175086 19.1963665,10.2209361 18.7992484,12.1587033 C18.4905823,13.6656104 17.8579252,15.0348934 16.9182677,16.2288797 C16.2717847,17.050721 15.503701,17.7551322 14.6330062,18.3246345 L14.1324441,20.5597103 C14.0270012,21.0335036 13.6648642,21.3941092 13.2107769,21.4789576 C13.1359841,21.4932121 13.0598587,21.5 12.9845662,21.5 C12.7866734,21.5 12.5897801,21.4526546 12.4138754,21.3613578 C12.3270891,21.3163881 12.2446338,21.2561458 12.1616788,21.1768974 L10.7056345,19.7835174 C9.65187222,19.9211415 8.58728248,19.8766809 7.53868407,19.6514934 C5.07235397,19.1217001 2.94683917,17.6261627 1.55309447,15.4406383 C0.159183197,13.2546048 -0.318058175,10.668087 0.209156116,8.1567449 C0.736870135,5.6433664 2.19091549,3.4849935 4.30327075,2.07888626 C6.41512629,0.673627515 8.93909182,0.183543314 11.4097529,0.700778994 Z" id="Fill-23"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>