<?xml version="1.0" encoding="UTF-8"?>
<svg width="24px" height="20px" viewBox="0 0 24 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 55 (78076) - https://sketchapp.com -->
    <title>Twitter</title>
    <g id="Layouts" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.796246722">
        <g id="Blog" transform="translate(-1020.000000, -1828.000000)" fill="#FFFFFF">
            <g id="Footer/Desktop" transform="translate(0.000000, 1596.000000)">
                <g id="Footer" transform="translate(0.000000, 129.000000)">
                    <g id="Social" transform="translate(980.000000, 40.000000)">
                        <g id="Group" transform="translate(0.000000, 61.000000)">
                            <path d="M64,4.368 C63.1038663,4.77581713 62.1504216,5.04360457 61.173,5.162 C62.2080349,4.52318803 62.9770224,3.53149612 63.338,2.37 C62.3740906,2.95659272 61.3152061,3.37046799 60.209,3.593 C59.2893388,2.57939153 57.9846409,2.00093796 56.616,2 C53.898,2 51.694,4.26 51.694,7.049 C51.694,7.445 51.736,7.829 51.82,8.199 C47.728,7.988 44.1,5.979 41.67,2.922 C41.2318291,3.69672352 41.0023404,4.57195085 41.004,5.462 C41.004,7.213 41.874,8.759 43.194,9.665 C42.4105823,9.63890759 41.6452607,9.42269566 40.964,9.035 L40.964,9.097 C40.964,11.544 42.661,13.585 44.914,14.047 C44.4924232,14.1665215 44.0561898,14.2264363 43.618,14.225 C43.301,14.225 42.991,14.195 42.691,14.135 C43.317,16.141 45.135,17.601 47.29,17.64 C45.2435763,19.2958535 42.6131467,20.0510647 40,19.733 C42.2398979,21.2111178 44.8643505,21.9993576 47.548,22 C56.606,22 61.558,14.308 61.558,7.635 C61.558,7.415 61.553,7.196 61.545,6.981 C62.5126182,6.26338095 63.3440489,5.3784406 64,4.368" id="Path"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>