<?xml version="1.0" encoding="UTF-8"?>
<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 55 (78076) - https://sketchapp.com -->
    <title>Instagram</title>
    <g id="Layouts" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.796246722">
        <g id="Blog" transform="translate(-1060.000000, -1826.000000)" fill="#FFFFFF">
            <g id="Footer/Desktop" transform="translate(0.000000, 1596.000000)">
                <g id="Footer" transform="translate(0.000000, 129.000000)">
                    <g id="Social" transform="translate(980.000000, 40.000000)">
                        <g id="Group" transform="translate(0.000000, 61.000000)">
                            <path d="M86.89,2.234 L97.11,2.234 C99.688,2.234 101.778,4.334 101.778,6.926 L101.778,17.074 C101.778,19.666 99.688,21.766 97.111,21.766 L86.889,21.766 C84.312,21.766 82.222,19.666 82.222,17.074 L82.222,6.926 C82.222,4.334 84.312,2.234 86.889,2.234 L86.89,2.234 Z M80,17.074 C80,20.9 83.085,24 86.89,24 L97.11,24 C100.916,24 104,20.9 104,17.074 L104,6.926 C104,3.1 100.915,0 97.11,0 L86.89,0 C83.083,0 80,3.1 80,6.926 L80,17.074 Z M98.35,12.096 C98.35,8.588 95.52,5.745 92.032,5.745 C88.542,5.745 85.714,8.588 85.714,12.095 C85.714,15.603 88.543,18.447 92.032,18.447 C95.521,18.447 98.349,15.603 98.349,12.096 L98.35,12.096 Z M87.937,12.096 C87.937,9.822 89.77,7.979 92.032,7.979 C94.293,7.979 96.127,9.822 96.127,12.096 C96.127,14.37 94.293,16.213 92.032,16.213 C89.77,16.213 87.937,14.37 87.937,12.096 L87.937,12.096 Z M98.413,7.117 C99.254,7.117 99.937,6.431 99.937,5.585 C99.937,4.739 99.254,4.053 98.413,4.053 C97.571,4.053 96.889,4.739 96.889,5.585 C96.889,6.431 97.571,7.117 98.413,7.117 Z" id="Shape"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>