<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 54.1 (76490) - https://sketchapp.com -->
    <title>56792770-6C84-4D30-B757-D092585FC928</title>
    <desc>Created with sketchtool.</desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Header" transform="translate(-1610.000000, -110.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <g id="Search" transform="translate(1157.000000, 96.000000)">
                <g id="Button" transform="translate(439.000000, 0.000000)">
                    <path d="M28.9771689,27.5616438 C30.1415525,26.1004566 30.7808219,24.2511416 30.7808219,22.3789954 C30.7808219,17.7671233 27.0136986,14 22.3789954,14 C17.7442922,14 14,17.7671233 14,22.3789954 C14,26.9908676 17.7671233,30.7579909 22.3789954,30.7579909 C24.2283105,30.7579909 26.0776256,30.1187215 27.5616438,28.9543379 L32.6073059,34 L34.0456621,32.5616438 L28.9771689,27.5616438 Z M22.3789954,28.7716895 C18.8858447,28.7716895 16.0319635,25.9178082 16.0319635,22.4246575 C16.0319635,18.9315068 18.8858447,16.0776256 22.3789954,16.0776256 C25.8721461,16.0776256 28.7260274,18.9315068 28.7260274,22.4246575 C28.7260274,25.9178082 25.8721461,28.7716895 22.3789954,28.7716895 Z" id="Icon---Search"></path>
                </g>
            </g>
        </g>
    </g>
</svg>