<div class="container">
    <div class="row py-5">
        <div class="col-12 col-sm-12 text-center">
            <h2 class="title text-center mb-3 mb-sm-5">{{ block.settings.title }}</h2>
        </div>
        <div class="col-12 col-sm-12 col-md-10 offset-md-1">
            <div class="resp-container">
                <iframe class="resp-iframe" src="https://www.youtube.com/embed/{{ block.settings.video.id }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>