<option value="dog_unknown">Unknown</option>
<option value="dog_Afador" >Afador</option>
<option value="dog_Affenpinscher" >Affenpinscher</option>
<option value="dog_Afghan Hound" >Afghan Hound</option>
<option value="dog_Airedale Terrier" >Airedale Terrier</option>
<option value="dog_Akita" >Akita</option>
<option value="dog_American Eskimo Dog" >American Eskimo Dog</option>
<option value="dog_Alaskan Klee Kai" >Alaskan Klee Kai</option>
<option value="dog_Alaskan Malamute" >Alaskan Malamute</option>
<option value="dog_American Bulldog" >American Bulldog</option>
<option value="dog_American English Coonhound" >American English Coonhound</option>
<option value="dog_American Foxhound" >American Foxhound</option>
<option value="dog_American Pit Bull Terrier" >American Pit Bull Terrier</option>
<option value="dog_American Staffordshire Terrier" >American Staffordshire Terrier</option>
<option value="dog_American Water Spaniel" >American Water Spaniel</option>
<option value="dog_Anatolian Shepherd Dog" >Anatolian Shepherd Dog</option>
<option value="dog_Appenzeller Sennenhunde" >Appenzeller Sennenhunde</option>
<option value="dog_Aussiedoodle" >Aussiedoodle</option>
<option value="dog_Aussiepom" >Aussiepom</option>
<option value="dog_Australian Cattle Dog" >Australian Cattle Dog</option>
<option value="dog_Australian Kelpie" >Australian Kelpie</option>
<option value="dog_Australian Shepherd" >Australian Shepherd</option>
<option value="dog_Australian Terrier" >Australian Terrier</option>
<option value="dog_Azawakh" >Azawakh</option>
<option value="dog_Barbet" >Barbet</option>
<option value="dog_Basenji" >Basenji</option>
<option value="dog_Bassador" >Bassador</option>
<option value="dog_Basset Hound" >Basset Hound</option>
<option value="dog_Beagle" >Beagle</option>
<option value="dog_Bearded Collie" >Bearded Collie</option>
<option value="dog_Bedlington Terrier" >Bedlington Terrier</option>
<option value="dog_Belgian Malinois" >Belgian Malinois</option>
<option value="dog_Belgian Sheepdog" >Belgian Sheepdog</option>
<option value="dog_Belgian Tervuren" >Belgian Tervuren</option>
<option value="dog_Berger Picard" >Berger Picard</option>
<option value="dog_Bernedoodle" >Bernedoodle</option>
<option value="dog_Bernese Mountain Dog" >Bernese Mountain Dog</option>
<option value="dog_Bichon Frise" >Bichon Frise</option>
<option value="dog_Biewer Terrier" >Biewer Terrier</option>
<option value="dog_Black and Tan Coonhound" >Black and Tan Coonhound</option>
<option value="dog_Black Mouth Cur" >Black Mouth Cur</option>
<option value="dog_Black Russian Terrier" >Black Russian Terrier</option>
<option value="dog_Bloodhound" >Bloodhound</option>
<option value="dog_Blue Lacy" >Blue Lacy</option>
<option value="dog_Bluetick Coonhound" >Bluetick Coonhound</option>
<option value="dog_Boerboel" >Boerboel</option>
<option value="dog_Bolognese" >Bolognese</option>
<option value="dog_Border Collie" >Border Collie</option>
<option value="dog_Border Terrier" >Border Terrier</option>
<option value="dog_Borzoi" >Borzoi</option>
<option value="dog_Boston Terrier" >Boston Terrier</option>
<option value="dog_Bouvier des Flandres" >Bouvier des Flandres</option>
<option value="dog_Boxer" >Boxer</option>
<option value="dog_Boykin Spaniel" >Boykin Spaniel</option>
<option value="dog_Bracco Italiano" >Bracco Italiano</option>
<option value="dog_Briard" >Briard</option>
<option value="dog_Brittany" >Brittany</option>
<option value="dog_Brussels Griffon" >Brussels Griffon</option>
<option value="dog_Bull Terrier" >Bull Terrier</option>
<option value="dog_Bullboxer Pit" >Bullboxer Pit</option>
<option value="dog_Bulldog" >Bulldog</option>
<option value="dog_Bullmastiff" >Bullmastiff</option>
<option value="dog_Bullmatian" >Bullmatian</option>
<option value="dog_Cairn Terrier" >Cairn Terrier</option>
<option value="dog_Canaan Dog" >Canaan Dog</option>
<option value="dog_Cane Corso" >Cane Corso</option>
<option value="dog_Cardigan Welsh Corgi" >Cardigan Welsh Corgi</option>
<option value="dog_Catahoula Bulldog" >Catahoula Bulldog</option>
<option value="dog_Catahoula Leopard Dog" >Catahoula Leopard Dog</option>
<option value="dog_Caucasian Shepherd Dog" >Caucasian Shepherd Dog</option>
<option value="dog_Cavachon" >Cavachon</option>
<option value="dog_Cavador" >Cavador</option>
<option value="dog_Cavalier King Charles Spaniel" >Cavalier King Charles Spaniel</option>
<option value="dog_Cavapoo" >Cavapoo</option>
<option value="dog_Cesky Terrier" >Cesky Terrier</option>
<option value="dog_Chabrador" >Chabrador</option>
<option value="dog_Cheagle" >Cheagle</option>
<option value="dog_Chesapeake Bay Retriever" >Chesapeake Bay Retriever</option>
<option value="dog_Chi-Poo" >Chi-Poo</option>
<option value="dog_Chihuahua" >Chihuahua</option>
<option value="dog_Chinese Crested" >Chinese Crested</option>
<option value="dog_Chinese Shar-Pei" >Chinese Shar-Pei</option>
<option value="dog_Chinook" >Chinook</option>
<option value="dog_Chipin" >Chipin</option>
<option value="dog_Chiweenie" >Chiweenie</option>
<option value="dog_Chow Chow" >Chow Chow</option>
<option value="dog_Chug" >Chug</option>
<option value="dog_Chusky" >Chusky</option>
<option value="dog_Clumber Spaniel" >Clumber Spaniel</option>
<option value="dog_Cockapoo" >Cockapoo</option>
<option value="dog_Cocker Spaniel" >Cocker Spaniel</option>
<option value="dog_Collie" >Collie</option>
<option value="dog_Corgi Inu" >Corgi Inu</option>
<option value="dog_Corgidor" >Corgidor</option>
<option value="dog_Coton de Tulear" >Coton de Tulear</option>
<option value="dog_Curly-Coated Retriever" >Curly-Coated Retriever</option>
<option value="dog_Dachshund" >Dachshund</option>
<option value="dog_Dalmatian" >Dalmatian</option>
<option value="dog_Dandie Dinmont Terrier" >Dandie Dinmont Terrier</option>
<option value="dog_Doberdor" >Doberdor</option>
<option value="dog_Doberman Pinscher" >Doberman Pinscher</option>
<option value="dog_Docker" >Docker</option>
<option value="dog_Dogo Argentino" >Dogo Argentino</option>
<option value="dog_Dogue de Bordeaux" >Dogue de Bordeaux</option>
<option value="dog_Dorgi" >Dorgi</option>
<option value="dog_Doxiepoo" >Doxiepoo</option>
<option value="dog_Doxle" >Doxle</option>
<option value="dog_Dutch Shepherd" >Dutch Shepherd</option>
<option value="dog_English Cocker Spaniel" >English Cocker Spaniel</option>
<option value="dog_English Foxhound" >English Foxhound</option>
<option value="dog_English Setter" >English Setter</option>
<option value="dog_English Springer Spaniel" >English Springer Spaniel</option>
<option value="dog_English Toy Spaniel" >English Toy Spaniel</option>
<option value="dog_Entlebucher Mountain Dog" >Entlebucher Mountain Dog</option>
<option value="dog_Eurasier" >Eurasier</option>
<option value="dog_Field Spaniel" >Field Spaniel</option>
<option value="dog_Finnish Lapphund" >Finnish Lapphund</option>
<option value="dog_Finnish Spitz" >Finnish Spitz</option>
<option value="dog_Flat-Coated Retriever" >Flat-Coated Retriever</option>
<option value="dog_Fox Terrier" >Fox Terrier</option>
<option value="dog_French Bulldog" >French Bulldog</option>
<option value="dog_French Spaniel" >French Spaniel</option>
<option value="dog_German Pinscher" >German Pinscher</option>
<option value="dog_German Shepherd Dog" >German Shepherd Dog</option>
<option value="dog_German Shorthaired Pointer" >German Shorthaired Pointer</option>
<option value="dog_German Wirehaired Pointer" >German Wirehaired Pointer</option>
<option value="dog_Giant Schnauzer" >Giant Schnauzer</option>
<option value="dog_Glen of Imaal Terrier" >Glen of Imaal Terrier</option>
<option value="dog_Goberian" >Goberian</option>
<option value="dog_Goldador" >Goldador</option>
<option value="dog_Golden Retriever" >Golden Retriever</option>
<option value="dog_Goldendoodle" >Goldendoodle</option>
<option value="dog_Gordon Setter" >Gordon Setter</option>
<option value="dog_Great Dane" >Great Dane</option>
<option value="dog_Great Pyrenees" >Great Pyrenees</option>
<option value="dog_Greater Swiss Mountain Dog" >Greater Swiss Mountain Dog</option>
<option value="dog_Greyhound" >Greyhound</option>
<option value="dog_Harrier" >Harrier</option>
<option value="dog_Havanese" >Havanese</option>
<option value="dog_Hokkaido" >Hokkaido</option>
<option value="dog_Horgi" >Horgi</option>
<option value="dog_Ibizan Hound" >Ibizan Hound</option>
<option value="dog_Icelandic Sheepdog" >Icelandic Sheepdog</option>
<option value="dog_Irish Red and White Setter" >Irish Red and White Setter</option>
<option value="dog_Irish Setter" >Irish Setter</option>
<option value="dog_Irish Terrier" >Irish Terrier</option>
<option value="dog_Irish Water Spaniel" >Irish Water Spaniel</option>
<option value="dog_Irish Wolfhound" >Irish Wolfhound</option>
<option value="dog_Italian Greyhound" >Italian Greyhound</option>
<option value="dog_Jack Chi" >Jack Chi</option>
<option value="dog_Jack Russell Terrier" >Jack Russell Terrier</option>
<option value="dog_Japanese Chin" >Japanese Chin</option>
<option value="dog_Japanese Spitz" >Japanese Spitz</option>
<option value="dog_Korean Jindo Dog" >Korean Jindo Dog</option>
<option value="dog_Karelian Bear Dog" >Karelian Bear Dog</option>
<option value="dog_Keeshond" >Keeshond</option>
<option value="dog_Kerry Blue Terrier" >Kerry Blue Terrier</option>
<option value="dog_Komondor" >Komondor</option>
<option value="dog_Kooikerhondje" >Kooikerhondje</option>
<option value="dog_Kuvasz" >Kuvasz</option>
<option value="dog_Kyi-Leo" >Kyi-Leo</option>
<option value="dog_Labernese" >Labernese</option>
<option value="dog_Labrabull" >Labrabull</option>
<option value="dog_Labradane" >Labradane</option>
<option value="dog_Labradoodle" >Labradoodle</option>
<option value="dog_Labrador Retriever" >Labrador Retriever</option>
<option value="dog_Labsky" >Labsky</option>
<option value="dog_Lagotto Romagnolo" >Lagotto Romagnolo</option>
<option value="dog_Lakeland Terrier" >Lakeland Terrier</option>
<option value="dog_Lancashire Heeler" >Lancashire Heeler</option>
<option value="dog_Leonberger" >Leonberger</option>
<option value="dog_Lhasa Apso" >Lhasa Apso</option>
<option value="dog_Lowchen" >Lowchen</option>
<option value="dog_Maltese" >Maltese</option>
<option value="dog_Maltese Shih Tzu" >Maltese Shih Tzu</option>
<option value="dog_Maltipoo" >Maltipoo</option>
<option value="dog_Manchester Terrier" >Manchester Terrier</option>
<option value="dog_Mastiff" >Mastiff</option>
<option value="dog_Miniature Pinscher" >Miniature Pinscher</option>
<option value="dog_Miniature Schnauzer" >Miniature Schnauzer</option>
<option value="dog_Morkie" >Morkie</option>
<option value="dog_Mudi" >Mudi</option>
<option value="dog_Mutt" >Mutt</option>
<option value="dog_Neapolitan Mastiff" >Neapolitan Mastiff</option>
<option value="dog_Newfoundland" >Newfoundland</option>
<option value="dog_Norfolk Terrier" >Norfolk Terrier</option>
<option value="dog_Norwegian Buhund" >Norwegian Buhund</option>
<option value="dog_Norwegian Elkhound" >Norwegian Elkhound</option>
<option value="dog_Norwegian Lundehund" >Norwegian Lundehund</option>
<option value="dog_Norwich Terrier" >Norwich Terrier</option>
<option value="dog_Nova Scotia Duck Tolling Retriever" >Nova Scotia Duck Tolling Retriever</option>
<option value="dog_Old English Sheepdog" >Old English Sheepdog</option>
<option value="dog_Otterhound" >Otterhound</option>
<option value="dog_Papillon" >Papillon</option>
<option value="dog_Peekapoo" >Peekapoo</option>
<option value="dog_Pekingese" >Pekingese</option>
<option value="dog_Pembroke Welsh Corgi" >Pembroke Welsh Corgi</option>
<option value="dog_Petit Basset Griffon Vendeen" >Petit Basset Griffon Vendeen</option>
<option value="dog_Pharaoh Hound" >Pharaoh Hound</option>
<option value="dog_Pitsky" >Pitsky</option>
<option value="dog_Plott" >Plott</option>
<option value="dog_Pocket Beagle" >Pocket Beagle</option>
<option value="dog_Pointer" >Pointer</option>
<option value="dog_Polish Lowland Sheepdog" >Polish Lowland Sheepdog</option>
<option value="dog_Pomapoo" >Pomapoo</option>
<option value="dog_Pomchi" >Pomchi</option>
<option value="dog_Pomeagle" >Pomeagle</option>
<option value="dog_Pomeranian" >Pomeranian</option>
<option value="dog_Pomsky" >Pomsky</option>
<option value="dog_Poochon" >Poochon</option>
<option value="dog_Poodle" >Poodle</option>
<option value="dog_Portuguese Water Dog" >Portuguese Water Dog</option>
<option value="dog_Pug" >Pug</option>
<option value="dog_Puggle" >Puggle</option>
<option value="dog_Puli" >Puli</option>
<option value="dog_Pyrenean Shepherd" >Pyrenean Shepherd</option>
<option value="dog_Rat Terrier" >Rat Terrier</option>
<option value="dog_Redbone Coonhound" >Redbone Coonhound</option>
<option value="dog_Rhodesian Ridgeback" >Rhodesian Ridgeback</option>
<option value="dog_Rottweiler" >Rottweiler</option>
<option value="dog_Saint Berdoodle" >Saint Berdoodle</option>
<option value="dog_Saint Bernard" >Saint Bernard</option>
<option value="dog_Saluki" >Saluki</option>
<option value="dog_Samoyed" >Samoyed</option>
<option value="dog_Schipperke" >Schipperke</option>
<option value="dog_Schnoodle" >Schnoodle</option>
<option value="dog_Scottish Deerhound" >Scottish Deerhound</option>
<option value="dog_Scottish Terrier" >Scottish Terrier</option>
<option value="dog_Sealyham Terrier" >Sealyham Terrier</option>
<option value="dog_Shepsky" >Shepsky</option>
<option value="dog_Shetland Sheepdog" >Shetland Sheepdog</option>
<option value="dog_Shiba Inu" >Shiba Inu</option>
<option value="dog_Shih-Poo" >Shih-Poo</option>
<option value="dog_Shih Tzu" >Shih Tzu</option>
<option value="dog_Shorkie" >Shorkie</option>
<option value="dog_Siberian Husky" >Siberian Husky</option>
<option value="dog_Silken Windhound" >Silken Windhound</option>
<option value="dog_Silky Terrier" >Silky Terrier</option>
<option value="dog_Skye Terrier" >Skye Terrier</option>
<option value="dog_Sloughi" >Sloughi</option>
<option value="dog_Small Munsterlander Pointer" >Small Munsterlander Pointer</option>
<option value="dog_Soft Coated Wheaten Terrier" >Soft Coated Wheaten Terrier</option>
<option value="dog_Stabyhoun" >Stabyhoun</option>
<option value="dog_Staffordshire Bull Terrier" >Staffordshire Bull Terrier</option>
<option value="dog_Standard Schnauzer" >Standard Schnauzer</option>
<option value="dog_Sussex Spaniel" >Sussex Spaniel</option>
<option value="dog_Swedish Vallhund" >Swedish Vallhund</option>
<option value="dog_Tibetan Mastiff" >Tibetan Mastiff</option>
<option value="dog_Tibetan Spaniel" >Tibetan Spaniel</option>
<option value="dog_Tibetan Terrier" >Tibetan Terrier</option>
<option value="dog_Toy Fox Terrier" >Toy Fox Terrier</option>
<option value="dog_Treeing Tennessee Brindle" >Treeing Tennessee Brindle</option>
<option value="dog_Treeing Walker Coonhound" >Treeing Walker Coonhound</option>
<option value="dog_Vizsla" >Vizsla</option>
<option value="dog_Weimaraner" >Weimaraner</option>
<option value="dog_Welsh Springer Spaniel" >Welsh Springer Spaniel</option>
<option value="dog_Welsh Terrier" >Welsh Terrier</option>
<option value="dog_West Highland White Terrier" >West Highland White Terrier</option>
<option value="dog_Whippet" >Whippet</option>
<option value="dog_Whoodle" >Whoodle</option>
<option value="dog_Wirehaired Pointing Griffon" >Wirehaired Pointing Griffon</option>
<option value="dog_Xoloitzcuintli" >Xoloitzcuintli</option>
<option value="dog_Yorkipoo" >Yorkipoo</option>
<option value="dog_Yorkshire Terrier" >Yorkshire Terrier</option>
<option value="cat_unknown">Unknown</option>
<option value="cat_Abyssinian" >Abyssinian</option>
<option value="cat_American Bobtail" >American Bobtail</option>
<option value="cat_American Curl" >American Curl</option>
<option value="cat_American Shorthair" >American Shorthair</option>
<option value="cat_American Wirehair" >American Wirehair</option>
<option value="cat_Bengal" >Bengal</option>
<option value="cat_Arctic Curl" >Arctic Curl</option>
<option value="cat_Asian" >Asian</option>
<option value="cat_Australian Mist" >Australian Mist</option>
<option value="cat_Balinese" >Balinese</option>
<option value="cat_Birman" >Birman</option>
<option value="cat_Bombay" >Bombay</option>
<option value="cat_Bramble" >Bramble</option>
<option value="cat_British Longhair" >British Longhair</option>
<option value="cat_British Shorthair" >British Shorthair</option>
<option value="cat_Burmese" >Burmese</option>
<option value="cat_Burmilla" >Burmilla</option>
<option value="cat_Chartreux" >Chartreux</option>
<option value="cat_Chausie" >Chausie</option>
<option value="cat_Cornish Rex" >Cornish Rex</option>
<option value="cat_Devon Rex" >Devon Rex</option>
<option value="cat_Egyptian Mau" >Egyptian Mau</option>
<option value="cat_Exotic" >Exotic</option>
<option value="cat_Havana Brown" >Havana Brown</option>
<option value="cat_Himalayan" >Himalayan</option>
<option value="cat_Japanese Bobtail" >Japanese Bobtail</option>
<option value="cat_Keetso" >Keetso</option>
<option value="cat_Khao Manee" >Khao Manee</option>
<option value="cat_Korat" >Korat</option>
<option value="cat_Kurilian Bobtail" >Kurilian Bobtail</option>
<option value="cat_LaPerm" >LaPerm</option>
<option value="cat_Lykoi" >Lykoi</option>
<option value="cat_Maine Coon" >Maine Coon</option>
<option value="cat_Manx" >Manx</option>
<option value="cat_Munchkin" >Munchkin</option>
<option value="cat_Nebelung" >Nebelung</option>
<option value="cat_Norwegian Forest Cat" >Norwegian Forest Cat</option>
<option value="cat_Ocicat" >Ocicat</option>
<option value="cat_Oriental" >Oriental</option>
<option value="cat_Persian" >Persian</option>
<option value="cat_Peterbald" >Peterbald</option>
<option value="cat_Pixie Bob" >Pixie Bob</option>
<option value="cat_RagaMuffin" >RagaMuffin</option>
<option value="cat_Ragdoll" >Ragdoll</option>
<option value="cat_Russian Blue" >Russian Blue</option>
<option value="cat_Savannah" >Savannah</option>
<option value="cat_Scottish Fold" >Scottish Fold</option>
<option value="cat_Selkirk Rex" >Selkirk Rex</option>
<option value="cat_Serengeti" >Serengeti</option>
<option value="cat_Siamese" >Siamese</option>
<option value="cat_Siberian" >Siberian</option>
<option value="cat_Singapura" >Singapura</option>
<option value="cat_Snowshoe" >Snowshoe</option>
<option value="cat_Sokoke" >Sokoke</option>
<option value="cat_Somali" >Somali</option>
<option value="cat_Sphynx" >Sphynx</option>
<option value="cat_Thai" >Thai</option>
<option value="cat_Tibetan" >Tibetan</option>
<option value="cat_Tiffanie" >Tiffanie</option>
<option value="cat_Tonkinese" >Tonkinese</option>
<option value="cat_Toybob" >Toybob</option>
<option value="cat_Toyger" >Toyger</option>
<option value="cat_Turkish Angora" >Turkish Angora</option>
<option value="cat_Turkish Van" >Turkish Van</option>
<option value="smallpet_unknown">Unknown</option>
<option value="smallpet_Chinchilla" >Chinchilla</option>
<option value="smallpet_Ferret" >Ferret</option>
<option value="smallpet_Gerbil" >Gerbil</option>
<option value="smallpet_Guinea pig" >Guinea pig</option>
<option value="smallpet_Hamster" >Hamster</option>
<option value="smallpet_Hedgehog" >Hedgehog</option>
<option value="smallpet_Mice" >Mice</option>
<option value="smallpet_Rabbit" >Rabbit</option>
<option value="smallpet_Rat" >Rat</option>
<option value="smallpet_Sugar Glider" >Sugar Glider</option>
<option value="fish_unknown">Unknown</option>
<option value="fish_Angelfish" >Angelfish</option>
<option value="fish_Barbs" >Barbs</option>
<option value="fish_Bettas" >Bettas</option>
<option value="fish_Brackish Fish" >Brackish Fish</option>
<option value="fish_Butterfly Fish" >Butterfly Fish</option>
<option value="fish_Cyprinids" >Cyprinids</option>
<option value="fish_Catfish" >Catfish</option>
<option value="fish_Cichlids" >Cichlids</option>
<option value="fish_Corys" >Corys</option>
<option value="fish_Crabs" >Crabs</option>
<option value="fish_Danios" >Danios</option>
<option value="fish_Discus" >Discus</option>
<option value="fish_Fancy Goldfish" >Fancy Goldfish</option>
<option value="fish_Golden Orfes" >Golden Orfes</option>
<option value="fish_Goldfish" >Goldfish</option>
<option value="fish_Gouramis" >Gouramis</option>
<option value="fish_Hatchet Fish" >Hatchet Fish</option>
<option value="fish_Killifish" >Killifish</option>
<option value="fish_Koi Carp" >Koi Carp</option>
<option value="fish_Live Bearers" >Live Bearers</option>
<option value="fish_Loaches" >Loaches</option>
<option value="fish_Lobsters" >Lobsters</option>
<option value="fish_Minnows" >Minnows</option>
<option value="fish_Mollies" >Mollies</option>
<option value="fish_Pencil Fish" >Pencil Fish</option>
<option value="fish_Piranhas" >Piranhas</option>
<option value="fish_Platies" >Platies</option>
<option value="fish_Plecos" >Plecos</option>
<option value="fish_Pond Fish" >Pond Fish</option>
<option value="fish_Pufferfish" >Pufferfish</option>
<option value="fish_Rainbow Fish" >Rainbow Fish</option>
<option value="fish_Rasboras" >Rasboras</option>
<option value="fish_Rice fish" >Rice fish</option>
<option value="fish_Sharks" >Sharks</option>
<option value="fish_Shrimps" >Shrimps</option>
<option value="fish_Shubunkins" >Shubunkins</option>
<option value="fish_Snails" >Snails</option>
<option value="fish_Swordtails" >Swordtails</option>
<option value="fish_Tench" >Tench</option>
<option value="fish_Tetras" >Tetras</option>
<option value="reptile_unknown">Unknown</option>
<option value="reptile_Anole" >Anole</option>
<option value="reptile_Axolotl" >Axolotl</option>
<option value="reptile_Bearded Dragon" >Bearded Dragon</option>
<option value="reptile_Chameleon" >Chameleon</option>
<option value="reptile_Frog" >Frog</option>
<option value="reptile_Skink" >Skink</option>
<option value="reptile_Gecko" >Gecko</option>
<option value="reptile_Iguana" >Iguana</option>
<option value="reptile_Lizard" >Lizard</option>
<option value="reptile_Newt" >Newt</option>
<option value="reptile_Snake" >Snake</option>
<option value="reptile_Terrapin" >Terrapin</option>
<option value="reptile_Toad" >Toad</option>
<option value="reptile_Tortoise" >Tortoise</option>
<option value="reptile_Turtle" >Turtle</option>
<option value="bird_unknown">Unknown</option>
<option value="bird_Bird of Prey" >Bird of Prey</option>
<option value="bird_Budgerigar" >Budgerigar</option>
<option value="bird_Canarie" >Canarie</option>
<option value="bird_Cockatiel" >Cockatiel</option>
<option value="bird_Conures" >Conures</option>
<option value="bird_Lovebird" >Lovebird</option>
<option value="bird_Dove" >Dove</option>
<option value="bird_Finche" >Finche</option>
<option value="bird_Lorie" >Lorie</option>
<option value="bird_Lorikeet" >Lorikeet</option>
<option value="bird_Macaw" >Macaw</option>
<option value="bird_Parakeet" >Parakeet</option>
<option value="bird_Parrot" >Parrot</option>
<option value="bird_Pigeon" >Pigeon</option>
<option value="bird_Ringneck" >Ringneck</option>
<option value="bird_Softbill" >Softbill</option>