{% render 'account-links' %}
<br>
<br>
<div class="trade-links">
  <a href="#" class="btn btn--secondary disabled">Image Library</a>
  <a href="/pages/trade-pos" class="btn btn--secondary">Point of Sale</a>
  <a href="#" class="btn btn--secondary disabled">Product Specifications</a>
  <a href="#" class="btn btn--secondary disabled">Special Offers</a>
  <a
    href="http://omscatalogue.co.uk/files/assets/basic-html/index.html#1"
    class="btn btn--secondary"
    target="_blank"
    >TOMSCO Catalogue</a
  >
</div>
