<div class="wholesale-popup">
  <div class="pink-container">
    <div class="wholesalemessage">
      <h2>{{settings.pop_up_title}}</h2>
      <p>{{settings.pop_up_paragraph}}</p>
      <div class="btn confirm">Ok, Got It!</div>
    </div>
  </div>
</div>

<script>
  $('.confirm').click(function(){
    $('.wholesale-popup').hide();
  });
</script>