<section class="product-slider-section">
  <div class="container">
    <h2>Best Sellers this Month</h2>
    <div class="product-slider-wrapper">
      <div class="product-slider">
        <div class="text-center product">
          <div class="batch">
            <div>
              <span class="love me-1">
                <i class="fa-solid fa-heart"></i>
              </span>
              <span>STAFF PICK</span>
            </div>
          </div>
          <img
            class="img-fluid mx-auto"
            src="/img/slider-img/1.png"
            alt="slide-img">
          <p class="product-name">Zogoflex Hurley <br> TOPRATED</p>
          <div class="product-size"></div>
          <h4 class="product-price">£13.90</h4>

          <ul class="product-stars">
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
          </ul>
          <div class="product-review">
            <span>12 Reviews</span>
            <span>
              <i class="fa-sharp fa-solid fa-caret-down"></i>
            </span>
          </div>
          <button class="product-cart">
            <div class="cart-icon">
              <img
                width="18"
                height="16"
                src="img/cart.svg"
                alt="cart">
            </div>
            Add to Cart
          </button>
        </div>
        <div class="text-center product">
          <div class="batch"></div>
          <img
            width="110"
            height="143"
            class="img-fluid mx-auto"
            src="/img/slider-img/2.png"
            alt="slide-img">
          <p class="product-name">
            Zogoflex Rumbl <br>Dog Toy</p>
          <div class="product-size"></div>
          <h4 class="product-price">£18.10</h4>

          <ul class="product-stars">
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
          </ul>
          <div class="product-review">
            <span>12 Reviews</span>
            <span>
              <i class="fa-sharp fa-solid fa-caret-down"></i>
            </span>
          </div>
          <button class="product-cart">
            <div class="cart-icon">
              <img
                width="18"
                height="16"
                src="img/cart.svg"
                alt="cart">
            </div>
            Add to Cart
          </button>
        </div>
        <div class="text-center product">
          <div class="batch">
            <div class="best-seller">
              <span class="me-1 d-inline-block">
                <img
                  class="me-1"
                  src="img/best-seller.png"
                  alt="best-seller">
              </span>
              <span>BEST SELLER
              </span>
            </div>
          </div>
          <img
            width="136"
            height="150"
            class="img-fluid mx-auto"
            src="/img/slider-img/3.png"
            alt="slide-img">
          <p class="product-name">Chuckit Fetch <br> Medley</p>
          <div class="product-size"></div>
          <h4 class="product-price">£14.99</h4>

          <ul class="product-stars">
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
          </ul>
          <div class="product-review">
            <span>12 Reviews</span>
            <span>
              <i class="fa-sharp fa-solid fa-caret-down"></i>
            </span>
          </div>
          <button class="product-cart">
            <div class="cart-icon">
              <img
                width="18"
                height="16"
                src="img/cart.svg"
                alt="cart">
            </div>
            Add to Cart
          </button>
        </div>
        <div class="text-center product">
          <div class="batch ">
            <div class="on-sale">
              <span class="d-inline-block me-1">
                <img
                  width="20"
                  height="20"
                  src="img/on-sell.png"
                  alt="on-sale">
              </span>
              <span>ON SALE</span>
            </div>
          </div>
          <img
            width="104"
            height="174"
            class="img-fluid mx-auto"
            src="/img/slider-img/4.png"
            alt="slide-img">
          <p class="product-name">
            All for Paws Mighty Rex <br> Mighty Wheel Dog Toy
          </p>
          <div class="product-size">
            <select>
              <option>Large/Melon</option>
              <option>Medium</option>
            </select>
          </div>
          <h4 class="product-price">£5.59</h4>
          <ul class="product-stars">
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
          </ul>
          <div class="product-review">
            <span>12 Reviews</span>
            <span>
              <i class="fa-sharp fa-solid fa-caret-down"></i>
            </span>
          </div>
          <button class="product-cart">
            <div class="cart-icon">
              <img
                width="18"
                height="16"
                src="img/cart.svg"
                alt="cart">
            </div>
            Add to Cart
          </button>
        </div>
        <div class="text-center product">
          <div class="batch">
            <div>
              <span class="love">
                <i class="fa-solid fa-heart"></i>
              </span>
              <span>STAFF PICK</span>
            </div>
          </div>
          <img
            width="175"
            height="146"
            class="img-fluid mx-auto"
            src="/img/slider-img/5.png"
            alt="slide-img">
          <p class="product-name">
            KONG Holiday CoreStrength<br>Bone Dog Toy
          </p>
          <div class="product-size"></div>
          <h4 class="product-price">£4.51</h4>
          <ul class="product-stars">
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
          </ul>
          <div class="product-review">
            <span>12 Reviews</span>
            <span>
              <i class="fa-sharp fa-solid fa-caret-down"></i>
            </span>
          </div>
          <button class="product-cart">
            <div class="cart-icon">
              <img
                width="18"
                height="16"
                src="img/cart.svg"
                alt="cart">
            </div>
            Add to Cart
          </button>
        </div>
        <div class="text-center product">
          <div class="batch">
            <div class="top-rated">
              <span class="me-1">
                <img
                  width="19"
                  height="21"
                  src="img/top-reated.png"
                  alt="top-reated">
              </span>
              <span>TOP REATED
              </span>
            </div>
          </div>
          <img
            width="119"
            height="164"
            class="img-fluid mx-auto"
            src="/img/slider-img/6.png"
            alt="slide-img">
          <p class="product-name">GiGwi Jumball <br> Basketball Dog Toy</p>
          <div class="product-size">
            <select>
              <option>Large/Mealon</option>
              <option>Medium</option>
            </select>
          </div>
          <h4 class="product-price">£13.79</h4>
          <ul class="product-stars">
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
          </ul>
          <div class="product-review">
            <span>12 Reviews</span>
            <span>
              <i class="fa-sharp fa-solid fa-caret-down"></i>
            </span>
          </div>
          <button class="product-cart">
            <div class="cart-icon">
              <img
                width="18"
                height="16"
                src="img/cart.svg"
                alt="cart">
            </div>
            Add to Cart
          </button>
        </div>
        <div class="text-center product">
          <div class="batch">
            <div>
              <span class="love me-1">
                <i class="fa-solid fa-heart"></i>
              </span>
              <span>STAFF PICK</span>
            </div>
          </div>
          <img
            class="img-fluid mx-auto"
            src="/img/slider-img/1.png"
            alt="slide-img">
          <p class="product-name">Zogoflex Hurley <br> TOPRATED</p>
          <div class="product-size"></div>
          <h4 class="product-price">£13.90</h4>

          <ul class="product-stars">
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
            <li>
              <i class="fa-sharp fa-solid fa-star"></i>
            </li>
          </ul>
          <div class="product-review">
            <span>12 Reviews</span>
            <span>
              <i class="fa-sharp fa-solid fa-caret-down"></i>
            </span>
          </div>
          <button class="product-cart">
            <div class="cart-icon">
              <img
                width="18"
                height="16"
                src="img/cart.svg"
                alt="cart">
            </div>
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>


<style>
  .product-slider-section h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #6eafde;
    text-align: center;
    margin-bottom: 16px;
  }

  @media only screen and (min-width: 576px) {
    .product-slider-section h2 {
      font-size: 36px;
      line-height: 54px;
      margin-bottom: 24px;
    }
  }

  .batch {
    height: 70px;
  }

  .batch + img {
    object-fit: contain;
    height: 80px;
  }

  @media only screen and (min-width: 576px) {
    .batch + img {
      height: 100px;
    }
  }

  .batch > div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #6eafde;
    font-size: 6px;
    line-height: 8px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 10px;
    border-radius: 12px;
  }

  @media only screen and (min-width: 576px) {
    .batch > div {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .batch > div:where(.best-seller) {
    background: #8e7aac;
  }

  .batch > div:where(.on-sale) {
    background: #e75184;
  }

  .batch > div:where(.top-rated) {
    background: #67b77c;
  }

  .batch .love {
    display: inline-block;
    transform: rotate(-20deg);
  }

  .product {
    position: relative;
    padding-block: 10px;
  }

  .slick-track > *:where(.slick-active):last-child {
    background-color: red !important;
  }

  .product-slider .slick-track > *:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background-image: url('img/slider-border.png');
    background-size: cover;
  }

  .product .product-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #000;
    margin-top: 6px;
    margin-bottom: 0;
  }

  @media only screen and (min-width: 576px) {
    .product .product-name {
      line-height: 20px;
    }
  }

  .product .product-size {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #000;
    height: 25px;
    margin-block: 10px;
    padding-inline: 24px;
  }

  @media only screen and (min-width: 576px) {
    .product .product-size {
      margin-block: 12px;
    }
  }

  .product .product-size select {
    padding: 2px 12px;
    width: 100%;
    border-radius: 12px;
    background: transparent;
    border: 1px solid #e6e7e8;
    appearance: none;
    background-image: url("data:image/svg+xml, %3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.33181 5.60999C4.28271 5.69969 4.21029 5.77453 4.1223 5.82666C4.03431 5.8788 3.934 5.90637 3.83172 5.90637C3.72944 5.90637 3.629 5.8788 3.54102 5.82666C3.45303 5.77453 3.38073 5.69969 3.33163 5.60999L0.89111 1.69995C0.311002 0.759951 0.731143 0 1.83135 0H5.83209C6.9423 0 7.36238 0.759951 6.83228 1.69995L4.33181 5.60999Z' fill='%236D6E71'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 96% center;
  }

  .product .product-stars {
    list-style: none;
    display: inline-flex;
    background: #e9f3fa;
    border-radius: 8px;
    padding: 0;
    padding-inline: 4px;
    margin-bottom: 4px;
  }

  .product .product-stars li {
    padding: 1px;
    color: #facd4d;
    font-size: 8px;
  }

  @media only screen and (min-width: 575px) {
    .product .product-stars li {
      font-size: 12px;
    }
  }

  .product .product-review {
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #000;
    margin-bottom: 12px;
  }

  @media only screen and (min-width: 576px) {
    .product .product-review {
      font-size: 10px;
      line-height: 15px;
    }
  }

  .product .product-price {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #000;
  }

  @media only screen and (min-width: 576px) {
    .product .product-price {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .product .cart-icon {
    background: #6eafde;
    margin: auto auto 3px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product .cart-icon img {
    width: 8px;
    height: 8px;
  }

  @media only screen and (min-width: 576px) {
    .product .cart-icon {
      width: 30px;
      height: 30px;
    }

    .product .cart-icon img {
      width: auto;
      height: auto;
    }
  }

  .product .product-cart {
    font-size: 8px;
    line-height: 12px;
    border: none;
    background: transparent;
    font-weight: 400;
    color: #6eafde;
  }

  @media only screen and (min-width: 576px) {
    .product .product-cart {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .product-slider-wrapper {
    padding-inline: 2rem;
  }

  @media only screen and (min-width: 576px) {
    .product-slider-wrapper {
      padding-inline: 2.9rem;
    }
  }

  .product-slider {
    position: relative;
    padding-block: 12px;
    z-index: 999;
  }

  .product-slider::after,
  .product-slider::before {
    content: "";
    position: absolute;
    z-index: -10;
  }

  .product-slider::after {
    transform: translateY(-50%);
    top: 50%;
    right: -18px;
    background-color: transparent;
    width: 200px;
    height: 100%;
    background-image: url('img/slider-right-wing.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  .product-slider::before {
    transform: translateY(-50%);
    top: 50%;
    left: -18px;
    background-color: transparent;
    width: 200px;
    height: 100%;
    background-image: url('img/slider-left-wing.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }

  @media only screen and (min-width: 620px) {
    .product-slider::after {
      right: -23px;
    }
    .product-slider::before {
      left: -23px;
    }
  }

  .pagination {
    border: none;
    background: transparent;
    font-size: 18px;
    color: #9ac7e8;
    top: 50%;
  }

  @media only screen and (max-width: 576px) {
    .pagination {
      font-size: 22px;
    }
  }

  .pagination.pull-left {
    position: absolute;
    top: 50%;
    left: -45px;
    transform: rotate(90deg) translateY(-50%);
  }

  .pagination.pull-right {
    position: absolute;
    top: 50%;
    right: -45px;
    transform: rotate(-90deg) translateY(-50%);
  }
</style>

<script>
  $(document).ready(function() {
    $(".product-slider").slick({
      infinite: true,
      slidesToShow: 6,
      slidesToScroll: 6,
      arrows: true,
      responsive: [
        {
          breakpoint: 1250,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4
          }
        }, {
          breakpoint: 1050,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        }, {
          breakpoint: 650,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }
      ],
      prevArrow: "<button type='button' class='pagination pull-left'><i class='fa-solid fa-caret-down' aria-hidden='true'></i></button>",
      nextArrow: "<button type='button' class='pagination pull-right'><i class='fa-solid fa-caret-down' aria-hidden='true'></i></button>"
    });
  });
</script>


{% schema %}
  {
    "name": "Best Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Best Sellers this Month"
      }, {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Product List",
        "category": "Collection"
      }
    ]
  }
{% endschema %}