{% if section.settings.enable %}
  <section class="header-notice">
    <div class="container">
      <p class="mb-0">{{ section.settings.content }}</p>
    </div>
  </section>
{% endif %}

{% stylesheet %}
  .header-notice {
    background-color: #58b0e3;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    padding: 1rem;
  }
  .header-notice strong {
    color: #fff;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Header Notice",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Enable",
      "default": true
    },
    {
      "type": "text",
      "id": "content",
      "label": "Header Notice",
      "default": "GET  20%OFF  YOUR FIRST ORDER WHEN YOU SPEND £50+"
    }
  ]
}
{% endschema %}
