<section class="container no-gutter">
  {% if section.settings.recommendation_block == 'postion_1' %}
    <div class="nosto_element" id="frontpage-nosto-1"></div>
  {% elsif section.settings.recommendation_block == 'postion_2' %}
    <div class="nosto_element" id="frontpage-nosto-2"></div>
  {% elsif section.settings.recommendation_block == 'postion_3' %}
    <div class="nosto_element" id="frontpage-nosto-4"></div>
  {% elsif section.settings.recommendation_block == 'postion_4' %}
    <div class="nosto_element" id="frontpage-nosto-4"></div>
  {% endif %}
</section>

{% schema %}
  {
    "name": "Home Page Nosto Block",
    "settings": [
      {
        "type": "select",
        "id": "recommendation_block",
        "label": "Nosto Block Numbers",
        "options": [
          {
            "value": "postion_1",
            "label": "Reccomendation Block 1"
          }, {
            "value": "postion_2",
            "label": "Reccomendation Block 2"
          }, {
            "value": "postion_3",
            "label": "Reccomendation Block 3"
          }, {
            "value": "postion_4",
            "label": "Reccomendation Block 4"
          }
        ],
        "default": "postion_1"
      }
    ],
    "presets": [
      {
        "name": "Home Page Nosto Block"
      }
    ]
  }
{% endschema %}