<section class="footer__newsletter footer-newsletter-section">
  <div class="container">
    <div class="row vertical-center">
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 align-self-center">
        <h3 class="newsletter-heading">Newsletter Signup</h3>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 align-self-center">
        <p class="newsletter-desc">
          Be the first to hear about exclusive offers and new products
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 mt-4 mt-lg-0 align-self-center 1">
        {% render 'send-in-blue-form' %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "type": "text",
      "id": "footer_linklist_1_title",
      "label": "Footer Column 1 Title",
      "default": "Site Info"
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "category": "Newsletter"
    }
  ]
}
{% endschema %}
