<section class="page-width container">
    <div class="row">
            <div class="col-12 col-sm-12 text-center">
                <h2 class="title hp title-generic"><span>Reviews</span></h2>
            </div>
        <div class="col-12 col-sm-12">
            <script src="https://widget.reviews.co.uk/rich-snippet-reviews-widgets/dist.js"></script>
            <div id="carousel-inline-widget-810" style="width:100%;margin:0 auto;"></div>
            <script>
            richSnippetReviewsWidgets('carousel-inline-widget-810', {
                store: 'get-set-pet',
                widgetName: 'carousel-inline',
                primaryClr: '#f47e27',
                neutralClr: '#f4f4f4',
                reviewTextClr:'#2f2f2f',
                ratingTextClr:'#2f2f2f',
                layout:'fullWidth',
                numReviews: 21
            });
            </script>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [],
    "presets": [
      {
        "name": "Reviews",
        "category": "Media"
      }
    ]
  }

{% endschema %}