#header {
    background-color: #97c6e1;
    padding: 20px;
    display: inline-block;
    width: 100%;
    align-items: center;
}
#h-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.social {
    margin-top: 20px;
    display: hidden;
}
.icons-nav ul {
    text-align: right;
}
.icons-nav li{
    display: inline;
}
.logo {
    text-align: center;
    place-items: center;
    min-height: 65px;
    min-width: 240px;
    margin-bottom: 30px;
}
#logoimg {
    max-height: 65px;
}
.h-icons {
    max-width: 24px;
    max-height: 24px;
    display: none;
}
.main-nav {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
    flex-direction: row;
    background-color: #97c6e1 !important;
}
.main-nav li {
    display: inline;
}
#nav-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
#menu-main-menu {
    width: 100%;
    padding-left: 0px;
}
.menu-item {
    padding-left: 1%;
    padding-right: 1%;
}
.menu-item a {
    font-size: 16px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}
.menu-item a:hover {
    color: black;
    text-shadow: 2px 2px 2px #7093a8;
    text-decoration: none;
}
.account-link {
    visibility: hidden;
}
