{% paginate blog.articles by 14 %}
  <section class="container blog__listing">
    <div class="row">
      {% render 'breadcrumbs' %}
      {%- assign blog_title = blog.title -%}
      {%- if current_tags -%}
        {% capture blog_title %}{{ current_tags.first  | capitalize | replace: '-', ' ' }}{% endcapture %}
      {%- endif -%}
      <div class="col-12 col-sm-12 center">
        <header class="page-header">
          <h1 class="title center">{{ blog_title }}</h1>
        </header>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-3">
        {% render 'blog-filter' %}
      </div>
      <div class="col-12 col-sm-12 col-md-9">
        <div class="row">
          {% for article in blog.articles %}
            {% if forloop.index == 1 %}
              {% render 'blog-item', width: 'col-12 col-sm-12 col-md-6 mb-4' %}
            {% elsif forloop.index == 2 %}
              {% render 'blog-item', width: 'col-12 col-sm-12 col-md-6 mb-4' %}
            {% else %}
              {% render 'blog-item', width: 'col-12 col-sm-12 col-md-4 mb-4' %}
            {% endif %}
          {% endfor %}
        </div>
        <!-- grid -->
        <div class="row">
          {% if paginate.pages > 1 %}
            {% render 'pagination' %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endpaginate %}
