{% paginate blog.articles by 20 %}
  {%- assign blog_title = blog.title -%}
  {%- if current_tags -%}
    {% capture blog_title %}{{ current_tags.first  | capitalize | replace: '-', ' ' }}{% endcapture %}
  {%- endif -%}

  <div class="container">
    {% render 'breadcrumbs' %}
  </div>

  {% section 'pet-portal-header' %}
  <section class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3">
        {% render 'pet-portal-filter' %}
      </div>
      <div class="col-12 col-sm-12 col-md-9">
        <div class="row">
          {% for article in blog.articles %}
            {% render 'blog-item',
              width: 'col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4'
            %}
          {% endfor %}
          {% if paginate.pages > 1 %}
            {% render 'pagination' %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endpaginate %}
