{% assign alphaExlude = settings.brands_excluded %}

<section class="container" class="page__container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8 offset-md-2 mt-5">
      <h2 class="title hp title-generic text-center">
        <span>{{ page.title }}</span>
      </h2>
      <article class="rte">
        {{ page.content }}
      </article>

      {% section 'brand-logos' %}

      <div class="alpha-chooser">
        <a href="#letter-A">A</a>
        <a href="#letter-B">B</a>
        <a href="#letter-C">C</a>
        <a href="#letter-D">D</a>
        <a href="#letter-E">E</a>
        <a href="#letter-F">F</a>
        <a href="#letter-G">G</a>
        <a href="#letter-H">H</a>
        <a href="#letter-I">I</a>
        <a href="#letter-J">J</a>
        <a href="#letter-K">K</a>
        <a href="#letter-L">L</a>
        <a href="#letter-M">M</a>
        <a href="#letter-N">N</a>
        <a href="#letter-O">O</a>
        <a href="#letter-P">P</a>
        <a href="#letter-Q">Q</a>
        <a href="#letter-R">R</a>
        <a href="#letter-S">S</a>
        <a href="#letter-T">T</a>
        <a href="#letter-U">U</a>
        <a href="#letter-V">V</a>
        <a href="#letter-W">W</a>
        <a href="#letter-X">X</a>
        <a href="#letter-Y">Y</a>
        <a href="#letter-Z">Z</a>
      </div>

      <div class="row">
        {% unless alphaExlude contains 'A' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'A' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'B' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'B' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'C' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'C' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'D' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'D' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'E' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'E' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'F' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'F' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'G' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'G' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'H' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'H' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'I' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'I' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'J' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'J' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'K' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'K' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'L' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'L' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'M' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'M' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'N' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'N' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'O' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'O' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'P' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'P' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'Q' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'Q' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'R' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'R' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'S' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'S' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'T' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'T' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'U' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'U' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'V' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'V' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'W' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'W' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'X' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'X' %}
          </div>
        {% endunless %}
        {% unless alphaExlude contains 'Y' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'Y' %}
          </div>
        {% endunless %}

        {% unless alphaExlude contains 'Z' %}
          <div class="brand-list-letter col-12 col-sm-6 col-md-4 col-lg-3">
            {% render 'alpha-list', ShowAlphaLetter: 'Z' %}
          </div>
        {% endunless %}
      </div>
    </div>
  </div>

  <style>
    .brand-list-letter {
      margin-bottom: 30px;
    }
    .brand-list-letter h2 {
      border-bottom: 1px solid #e6e6e6;
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-size: 20px !important;
    }
    .brand-list-letter ul {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
    }
    .brand-list-letter ul li {
      margin: 8px 0;
    }
    .alpha-chooser {
      width: 100%;
      margin-bottom: 40px;
      border: 1px solid #e6e6e6;
      border-right: none;
      border-bottom: none;
      display: flex;
      flex-wrap: wrap;
    }
    .alpha-chooser a {
      padding: 7px;
      border-right: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      flex-grow: 1;
      text-align: center;
      min-width: 30px;
      background: #fff;
    }
  </style>

  <script></script>
</section>
