<section class="container">
    <div class="row" style="padding: 100px 0px;">
        <div class="col-12 col-sm-12 col-md-2 offset-md-2">
            <h3>Colours</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-9">
            <div class="color-block-container">
                <div class="color-block primary">#F2772A</div>
                <p>Primary</p>
            </div>
            <div class="color-block-container">
                <div class="color-block secondary">#58B0E3</div>
                <p>Secondary</p>
            </div>
            <div class="color-block-container">
                <div class="color-block tertiary">#8AC8EC</div>
                <p>Tertiary</p>
            </div>
            <div class="color-block-container">
                <div class="color-block quaternary">#8AC8EC</div>
                <p>Quaternary</p>
            </div>
            <div class="color-block-container">
                <div class="color-block black">#000000</div>
                <p>Black</p>
            </div>
            <div class="color-block-container">
                <div class="color-block dark-grey">#808080</div>
                <p>Dark Grey</p>
            </div>
            <div class="color-block-container">
                <div class="color-block grey">#B3B3B3</div>
                <p>Grey</p>
            </div>
            <div class="color-block-container">
                <div class="color-block light-grey">#E6E6E6</div>
                <p>Light Grey</p>
            </div>
            <div class="color-block-container">
                <div class="color-block dogs">#617995</div>
                <p>Dogs</p>
            </div>
            <div class="color-block-container">
                <div class="color-block cats">#FFEFE0</div>
                <p>Cats</p>
            </div>
            <div class="color-block-container">
                <div class="color-block fish">#6AA0C2</div>
                <p>Fish</p>
            </div>
            <div class="color-block-container">
                <div class="color-block small-animals">#C9C4CB</div>
                <p>Small Animals</p>
            </div>
            <div class="color-block-container">
                <div class="color-block reptiles">#06839D</div>
                <p>Reptiles</p>
            </div>
            <div class="color-block-container">
                <div class="color-block birds">#D5DDF0</div>
                <p>Birds</p>
            </div>
            <div class="color-block-container">
                <div class="color-block warning">#FFC230</div>
                <p>Warning</p>
            </div>
            <div class="color-block-container">
                <div class="color-block danger">#E35858</div>
                <p>Danger</p>
            </div>
            <div class="color-block-container">
                <div class="color-block success">#5FB033</div>
                <p>Success</p>
            </div>
        </div>
        <div class="col-12 col-sm-12 2@md offset-2@md">
            <h3>Buttons</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-9">
            <a href="#" class="button primary">Primary </a>
            <a href="#" class="button secondary">Secondary</a>
        </div>
        <div class="col-12 col-sm-12 2@md offset-2@md">
            <h3>Forms</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-9">
            <form action="">
                <input type="text" placeholder="Placeholder">
                <div class="select-container">
                    <select id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-12 col-sm-12 2@md offset-2@md">
            <h3>Typography</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-9">
            <h1 class="hero">Hero</h1>
            <h2 class="title">Title</h2>
            <h3 class="section">Section</h3>
            <h4 class="heading">Heading</h4>
            <h5 class="subheading">Subheading</h5>
            <h6 class="detail">Detail</h6>
            <div class="rte">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in arcu nibh. Mauris hendrerit fringilla auctor. Aenean in malesuada dui. Nulla enim eros, bibendum ut turpis in, malesuada porttitor metus. Integer gravida, sapien vitae sollicitudin feugiat, libero nisl maximus metus, ut blandit ex ante sit amet ex.<br><br> 
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut volutpat leo non purus maximus facilisis</p>
                <a href="#">Text Link</a>
            </div>
        </div>
    </div>
</section>