{% section 'featured-blog-tags' %}
<section class="container">
  <div class="row">
    <div class="col-12 col-sm-12 section-title">
      <h1 class="title" style="margin-bottom: 0px;">Latest Posts</h1>
    </div>
    {% for article in blogs.news.articles %}
      {% render 'blog-item', width: '12 col-12 col-sm-12 col-md-3' %}
    {% endfor %}
  </div>
</section>
